<!doctype html>
<html class="no-js supports-no-cookies{% if settings.layout_container_enable %} container-layout{% endif %}" lang="{{ request.locale.iso_code }}">

{%- assign title_override = false -%}
{%- assign default_description = false -%}
<head>

{% unless request.page_type contains "customers/reset_password" %}
<!-- Global site tag (gtag.js) - Google Ads: 10874431559 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10874431559"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-10874431559', {'allow_enhanced_conversions':true});
</script>
{% endunless %}



{% unless request.path contains "/pages/blockchain-mining" %}
  <script src="{{ 'jquery.js' | asset_url }}" defer="defer"></script>
  {%- comment -%} <script src="{{ 'clipboard.js' | asset_url }}" defer="defer"></script> {%- endcomment -%}
{% endunless %}

 {% unless request.page_type contains "customers/reset_password" %}  
  {% unless request.path contains "/pages/blockchain-mining" %}
    {% unless request.path contains "blogs/news" %}
      <script src="{{ 'getFrom.js' | asset_url }}" defer="defer"></script>
    {% endunless %}
  {% endunless %}
{% endunless %} 
 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <meta name="facebook-domain-verification" content="4y41fkksyyyf0czbx17eu9nmdojga3" />
  <meta name="theme-color" content="{{ settings.accent_cool }}">
  {%- if canonical_url != blank -%}
    <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  {% if handle contains 'wheelio-demo' %}
    <meta name="robots" content="noindex">
  {% endif %}

<style>
/*   .header__dropdown a[href*="/products/deeper-connect-pico-wi-fi-adapter"] span:after, .mobile__menu__dropdown a[href*="/products/deeper-connect-pico-wi-fi-adapter"] span:after{
    content:"-30%";
    color: red !important;
    border-radius: 5px;
    padding: 2px 3px;
    margin-left: 5px;
    border: 1px solid red;
    font-size: 14px;
  } */

 

  .header__dropdown a[href*="/products/deeper-connect-pico-wi-fi-adapter-10"] span:after, 
  .mobile__menu__dropdown a[href*="/products/deeper-connect-pico-wi-fi-adapter-10"] span:after,
  .header__dropdown a[href*="/products/deeper-connect-mini-wi-fi-adapter-10"] span:after, 
  .mobile__menu__dropdown a[href*="/products/deeper-connect-mini-wi-fi-adapter-10"] span:after {
    content:"-50%";
    color: red !important;
    border-radius: 5px;
    padding: 2px 3px;
    margin-left: 5px;
    border: 1px solid red;
    font-size: 14px;
    white-space: nowrap;
  }

  .header__dropdown a[href*="/products/deeper-connect-pico-wi-fi-adapter-3"] span:after, 
  .mobile__menu__dropdown a[href*="/products/deeper-connect-pico-wi-fi-adapter-3"] span:after,
  .header__dropdown a[href*="/products/deeper-connect-mini-wi-fi-adapter-3"] span:after, 
  .mobile__menu__dropdown a[href*="/products/deeper-connect-mini-wi-fi-adapter-3"] span:after {
    content:"-40%";
    color: red !important;
    border-radius: 5px;
    padding: 2px 3px;
    margin-left: 5px;
    border: 1px solid red;
    font-size: 14px;
    white-space: nowrap;
  }

  .header__dropdown a[href*="/products/deeper-connect-mini"] span:after, 
  .mobile__menu__dropdown a[href*="/products/deeper-connect-mini"] span:after,
  .header__dropdown a[href*="/products/deeper-connect-mini"] span:after, 
  .mobile__menu__dropdown a[href*="/products/deeper-connect-mini"] span:after {
    content:"-35%";
    color: red !important;
    border-radius: 5px;
    padding: 2px 3px;
    margin-left: 5px;
    border: 1px solid red;
    font-size: 14px;
    white-space: nowrap;
  }

   .header__dropdown a[href*="/products/deeper-connect-mini-pico-wi-fi-adapter"] span:after, .mobile__menu__dropdown a[href*="/products/deeper-connect-mini-pico-wi-fi-adapter"] span:after{
    content:"-35%";
    color: red !important;
    border-radius: 5px;
    padding: 2px 3px;
    margin-left: 5px;
    border: 1px solid red;
    font-size: 14px;
    white-space: nowrap;
  }
  
  


   .drawer__menu{
   vertical-align: top !important;
 }
  .drawer__inner{
    height: auto !important;
  }
  #coupons_stacker{
max-width: 540px !important;
}

     .sca_aff_customer_refer_container{
     z-index:999 !important;
     }
 button.sca_aff_customer_refer_button{
     margin: 0px !important;
     transform: rotate(-90deg) !important;
     z-index:-1;
     position: relative;
   }
   @media (min-width: 767px){
button.sca_aff_customer_refer_button{
     top: 120px !important;
     right: -73px !important;
     }
      .menu__item a[href*="#shopify"]:after, .drawer__menu a[href*="#shopify"]:after{
     content:"-50%";
    color: red !important;
    border-radius: 5px;
    padding: 2px 3px;
    margin-left: 5px;
    border: 1px solid red;
    font-size: 14px;
   display: inherit !important;
   position: relative !important;
  }
   }
     @media (max-width: 767px){
    .drawer__menu > .sliderule__wrapper:last-child .sliderule__panel__inner{
         position: relative;
         top: 40px;
       }
      .drawer__menu > .sliderule__wrapper:last-child  .sliderule__wrapper{
        margin: 10px;
      }
       .sliderule__wrapper:last-child> .sliderow .sliderow__text:after{
         content:"-50%";
    color: red !important;
    border-radius: 5px;
    padding: 2px 3px;
    margin-left: 5px;
    border: 1px solid red;
    font-size: 14px;
   position: relative !important;
       }
       .sliderow__links span.sliderow__text{
         font-size:16px;
       }
       .drawer__content{
        margin-top: 45px;
        padding-top: calc(var(--header-height) - 30px) !important;
       }
button.sca_aff_customer_refer_button{
     top: 120px !important;
     right: -80px !important;
      padding: 10px 15px !important;
     }
   }
 </style> 
  <!-- ======================= Story Theme V3.1.0 ========================= -->

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com" crossorigin>


  <link rel="preload" href="{{ 'lazysizes.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'vendor.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style">
  
  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- else -%}
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  {% endif %}


  <!-- Title and description ================================================ -->
  {% capture seo_title %}
    {%- assign title_content = page_title -%}
    {% if title_override %}
      {%- assign title_content = title_override -%}
    {% endif %}
    {{ title_content }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign title_downcase = title_content | downcase | strip -%}
    {%- assign name_downcase = shop.name | downcase | strip -%}
    {%- unless title_downcase contains name_downcase -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {% endcapture %}
  <title>{{ seo_title }}</title>
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {% elsif default_description %}
    <meta name="description" content="{{ default_description | escape }}">
  {%- endif -%}
  {% render 'social-meta-tags' %}

  <!-- CSS ================================================================== -->
  {{ 'font-settings.css' | asset_url | stylesheet_tag }}
  {% render 'css-variables' %}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    let root = '{{ routes.root_url }}';
    if (root[root.length - 1] !== '/') {
      root = `${root}/`;
    }
    window.theme = {
      routes: {
        root_url: root,
        cart: '{{ routes.cart_url }}',
        cart_add_url: '{{ routes.cart_add_url }}',
        product_recommendations_url: '{{ routes.product_recommendations_url }}',
        search_url: '{{ routes.search_url }}',
        account_addresses_url: '{{ routes.account_addresses_url }}'
      },
      assets: {
        photoswipe: '{{ "photoswipe.js" | asset_url }}',
        smoothscroll: '{{ "smoothscroll.js" | asset_url }}',
        swatches: '{{ "swatches.json" | asset_url }}',
        base: "{{ 'nothing.jpg' | asset_url | split: 'nothing.jpg' | first }}",
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        preOrder: {{ 'products.product.pre_order' | t | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        swatchesKey: {{ 'general.swatches.color' | t | json }},
        estimateShipping: {{ 'cart.shipping.estimate_shipping' | t | json }},
        noShippingAvailable: {{ 'cart.shipping.no_shipping_available' | t | json }},
        free: {{ 'cart.shipping.free' | t | json }},
        from: {{ 'products.general.from' | t | json }},
        sale: {{ 'products.product.sale' | t | json }},
        subscription: {{ 'products.product.subscription' | t | json }},
        stockout: {{ 'cart.general.stockout' | t | json }},
        products: {{ 'products.general.products' | t | json }},
        pages: {{ 'general.page.pages' | t | json }},
        collections: {{ 'collections.sidebar.collections' | t | json }},
        resultsFor: {{ 'general.search.results_for' | t | json }},
        noResultsFor: {{ 'general.search.no_results_for' | t | json }},
        articles: {{ 'blogs.article.articles' | t | json }},
        successMessage: {{ 'general.social.success_message' | t | json }}
      },
      shop: {
        assets: "{{ 'nothing.jpg' | asset_url | split: 'nothing.jpg' | first }}"
      },
      settings: {
        badge_sale_type: {{ settings.badge_sale_type | json }},
        search_products: {{ settings.search_products | json }},
        search_collections: {{ settings.search_collections | json }},
        search_pages: {{ settings.search_pages | json }},
        search_articles: {{ settings.search_articles | json }},
        currency_code_enable: {{ settings.currency_code_enable | json }}
      },
      info: {
        name: 'story'
      },
      version: '3.1.0',
      animations:  {{ settings.animations_enable | json }},
      moneyFormat: {{ shop.money_format | json }},
      currencyCode: {{ cart.currency.iso_code | json }},
    };
    // When image loads, clear the background placeholder
    document.addEventListener('lazyloaded', (e) => {
      const holderTarget = e.target.closest('[data-wipe-background]');
      if (holderTarget) {
        holderTarget.style.backgroundImage = 'none';
      }
    });
  </script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <!-- Theme Javascript ============================================================== -->
  <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>
  

  <script type="text/javascript">
    if (window.MSInputMethodContext && document.documentMode) {
      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11.js' | asset_url }}";

      scripts.parentNode.insertBefore(polyfill, scripts);
    }
  </script>

  {% if template == 'gift_card' %}
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer="defer"></script>
    <script src="{{ 'giftcard.js' | asset_url }}" defer="defer"></script>
  {% endif %}

{%- comment -%} --  show app script by request.path and type -- {%- endcomment -%}
{%- assign is_show_app = true -%}
{% if request.page_type contains "customers/reset_password" %}{%- assign is_show_app = false -%}{% endif %}
{% if request.path contains "blog" %}{%- assign is_show_app = false -%}{% endif %}
{% if is_show_app %}
  <!-- Shopify app scripts =========================================================== -->
  {{ content_for_header }}
  {% capture boostersnippet %}{% include "booster-apps-common" %}{% endcapture %}
  {% unless boostersnippet contains "Liquid error" %}{{ boostersnippet }}{% endunless %}
{% endif %}
  

{%- comment -%} Show affiliate {%- endcomment -%}
{%- assign is_show_app = true -%} 
{% if request.path contains "/pages/blockchain-mining"%}{%- assign is_show_app = false -%}{% endif %}
{% if request.path contains "/blog"%}{%- assign is_show_app = false -%}{% endif %}

{% if is_show_app%}
  <script src="{{ 'sca_affiliate.js' | asset_url }}" defer="defer"></script>
  {% capture boostersnippet %}{% include "booster-apps-common" %}{% endcapture %}
  {% unless boostersnippet contains "Liquid error" %}{{ boostersnippet }}{% endunless %}
  {% render 'sca-aff-refer-customer' %}
  {% include 'hulk_po_vd.liquid' %}
{% endif %}

</head>
<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} {{ settings.decoration_style }} {{ settings.default_background }}" data-animations="{{ settings.animations_enable }}">
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  {% section 'header' %}
  <main role="main" id="MainContent" class="main-content">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  {% section 'popups' %}
  
  <div class="search--popdown">
    {% render 'header-search-popdown' version: 'search-popdown' %}
  </div>

  <div data-modal-container></div>

  {%- comment -%}
    In order to use your custom javascript file at assets/custom.js
    just cut this next line and paste it outside this comment.
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  	
  {%- endcomment -%}
	

  <!-- Paste third party scripts below this comment line ============== -->
  {%- comment -%} <script> if (window.getGa) { window.getGa() } </script> {%- endcomment -%}
  {%- assign is_show_zdassets = true -%}
  {% if request.path contains "/pages/blockchain-mining" %}
    {%- assign is_show_zdassets = false -%}
  {% endif %}
  
  {% if request.path contains "/blog" %}
    {%- assign is_show_zdassets = false -%}
  {% endif %}
  
  {% if is_show_zdassets %}
    <!-- And above this comment line ================================================== -->
    <style>
      div[role=presentation] iframe {
        display: none;
      }
      div iframe[title='来自公司的消息'] {
        display: none;
      }
    </style>
    <!--  zdassets  start -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=4bf40871-1d10-4aba-bce6-ce83eee01c0a" async="async"></script> 
    <!--  zdassets  end -->
  {% endif %}

</body> 
</html>
