{% schema %}
  {
    "name": "Home Plug And Play",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 180,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 180,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 0
      },
      {
        "type": "select",
        "id": "width",
        "label": "Section width",
        "default": "wrapper--none",
        "options": [
          { "value": "wrapper--none", "label": "Full width" },
          { "value": "wrapper--full", "label": "Full width padded" },
          { "value": "wrapper", "label": "Page width" },
          { "value": "wrapper--narrow", "label": "Page width narrow" }
        ]
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay color",
        "default": "#000"
      },
      {
        "type": "select",
        "id": "flex_align",
        "label": "Alignment",
        "default": "align--middle-left",
        "options": [
          { "value": "align--top-left", "label": "Top left"},
          { "value": "align--top-center", "label": "Top center"},
          { "value": "align--top-right", "label": "Top right"},
          { "value": "align--middle-left", "label": "Middle left"},
          { "value": "align--middle-center", "label": "Absolute center"},
          { "value": "align--middle-right", "label": "Middle right"},
          { "value": "align--bottom-left", "label": "Bottom left"},
          { "value": "align--bottom-center", "label": "Bottom center"},
          { "value": "align--bottom-right", "label": "Bottom right"}
        ]
      },
      {
        "type": "select",
        "id": "color_bg",
        "label": "Background color",
        "default": "hero__content--transparent",
        "options": [
          { "value": "hero__content--transparent", "label": "Transparent"},
          { "value": "palette--light bg--neutral", "label": "White"},
          { "value": "palette--light bg--accent", "label": "Light"},
          { "value": "palette--dark bg--invert", "label": "Dark"},
          { "value": "palette--dark bg--invert--accent", "label": "Dark accent"}
        ]
      }
	  ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type":"url",
            "id":"image_link",
            "label":"Link"
          }
        ]
      }
    ],
    "presets": [
      {
          "name": "Home Plug And Play",
          "category": "My Sections",
          "blocks": [
            {
              "type": "image"
            },
            {
              "type": "image"
            },
            {
              "type": "image"
            }
          ]
      }
    ]
  }
{% endschema %}

<div
  id="plug-and-play-zero-configuration"
  data-section-id="{{ section.id }}" 
  data-section-type="section-collection" style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">
  <div class="{{ section.settings.width }} section-padding">
    <div class="standard__rte {{ font_size_class }} {{ text_columns_class }}" {{ block.shopify_attributes }}>
      <h2 class="h3">Plug-and-Play. Zero Configuration</h2>
      <p>A truly all-in-one solution requiring zero configuration to connect to all your devices. 
        With the included Wi-Fi Adapter, simply set up the Pico at home or on the go to enjoy all of its amazing features</p>
    </div>
    <div style="display: flex; flex-direction: row;justify-content: space-between; flex-wrap: wrap;">
      {% for block in section.blocks %}
        <div class="three-tenths mobile--one-whole">
          {%- if block.settings.image_link != blank -%}<a href="{{ block.settings.image_link }}">{%- endif -%}
            {%- if block.settings.image != blank -%}
              <img
                loading="lazy" 
                width="100%"
                alt="{{ block.settings.image.alt | strip_html | escape }}"
                src="{{ block.settings.image | image_url: '540x540' }}"
                style="border-radius: 10px;"
                srcset="{% if block.settings.image.width >= 90 %}{{ block.settings.image | img_url: '90x' }} 90w,{% endif %}
                {% if block.settings.image.width >= 180 %}{{ block.settings.image | img_url: '180x' }} 180w,{% endif %}
                {% if block.settings.image.width >= 360 %}{{ block.settings.image | img_url: '360x' }} 360w,{% endif %}
                {% if block.settings.image.width >= 540 %}{{ block.settings.image | img_url: '540x' }} 5400w,{% endif %}
                {% if block.settings.image.width >= 720 %}{{ block.settings.image | img_url: '720x' }} 720w,{% endif %}
                {% if block.settings.image.width >= 1080 %}{{ block.settings.image | img_url: '1080x' }} 1080w,{% endif %}
                {% if block.settings.image.width >= 1440 %}{{ block.settings.image | img_url: '1440x' }} 1440w,{% endif %}
                {% if block.settings.image.width >= 1980 %}{{ block.settings.image | img_url: '1980x' }} 1980w{% endif %}"
                sizes="(min-width: 768px), 90vw, 
                      100vw"/>
            {%- else -%}
              {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
            {%- if block.settings.image_link != blank -%}</a>{%- endif -%}
        </div>
        {% endfor %}
    </div>
  </div>
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
