<!-- /sections/section-feature-ad-blocking.liquid -->

<div id="section-feature-ad-blocking" class="section-row {{ section.settings.color_bg }}" 
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">
  <div class="{{ section.settings.width }} section-padding">

    
    <div class="text__standard" style="margin-bottom: {{ section.settings.padding_bottom }}px">
      <h1 class="h2 standard__heading heading-size-6" >Ad Blocking</h1>
      <div class="standard__rte body-size-2" >
        <p>Blocking ALL Ads while you are browsing or watching videos</p>
      </div>
    <div>

    <div class="overlap" style="margin-bottom: {{ section.settings.padding_bottom }}px">
      <div class="overlap__item overlap__image">
        {%- assign left_image = 'fadblock_1.jpg' | asset_url -%}
        {%- render 'image-fill', img_object: left_image , bg_position: 'Center', aspect_ratio: 0.58 -%}
      </div>
      <div class="overlap__item overlap__text">
        <div class="overlap__content__wrapper">
          <div class="rte-setting section--rte overlap__rte body-size-2">
            <p>Deeper Connect is the world's first home network security device that can block encrypted Ads such as those on Youtube. Enjoy a undisturbed internet expereince while Deeper Connect blocks all ads for you.</p>
            <p>No need to pay $144 a year to skip Youtube Ads, pay once to buy Deeper Connect with embedded safe Ad Blocker with no subscription for all the services!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="text__standard" style="margin-bottom: {{ section.settings.padding_bottom }}px">
      <div class="standard__rte body-size-2" >
        <p>Ads and suggested products intrude on the content you really want to access and are targeted based on your personal information. With Deeper Connect’s one-stop solution of Safe Ads Blocker and AtomOS, all ads (including Youtube Ads) will be blocked and you can return to an uninterrupted internet experience.</p>
      </div>
    <div>

    <div class="text__standard" style="margin-bottom: {{ section.settings.padding_bottom }}px">
      <h1 class="h2 standard__heading heading-size-6" >Price Comparison Between Deeper Connect vs. Monthly Subscriptions for Ad Free Content</h1>
    <div>
    
 
    <div class="overlap mobile--hide small-down--hide small-hide medium--show large--show widescreen--show" style="margin-bottom: {{ section.settings.padding_bottom }}px">
      <div class="overlap__item overlap__image">
        <img src="{{ 'fadblock-comparision.jpg' | asset_url }}" />
      </div>
    </div>

    <div class="overlap mobile--show small-down--show small-show medium--hide large--hide widescreen--hide" style="margin-bottom: {{ section.settings.padding_bottom }}px">      
      <div class="overlap__item overlap__image" style="padding-right:20px;">
        <img src="{{ 'fadblock-comparision_mobile.jpg' | asset_url }}" />
      </div>
    </div>
 

    

  </div>
</div>

<style>
  #section-feature-ad-blocking .text__standard{
    color: #170F49 !important;
    font-weight: 400;
  }
</style>

{% schema %}
  {
    "name": "Feature AdBlocking",
    "class": "section-section",
    "settings": [
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "bg_position",
        "label": "Position",
        "default": "center-center",
        "options": [
          { "label": "Top", "value": "center-top" },
          { "label": "Right", "value": "right-center" },
          { "label": "Center", "value": "center-center" },
          { "label": "Left", "value": "left-center" },
          { "label": "Bottom", "value": "center-bottom" }
        ]
      }, 
      {
        "type": "range",
        "id": "aspect_ratio",
        "min": 0.5,
        "max": 1.5,
        "step": 0.1,
        "unit": ":1",
        "label": "Photo aspect ratio",
        "info": "Wide to tall",
        "default": 1
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image placement",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "select",
        "id": "color_text_bg",
        "label": "Background color",
        "default": "palette--light bg--accent",
        "options": [
          { "value": "palette--light bg--neutral", "label": "Default"},
          { "value": "palette--light bg--accent", "label": "Light"},
          { "value": "palette--dark bg--invert", "label": "Dark"},
          { "value": "palette--dark bg--invert--accent", "label": "Dark accent"}
        ]
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "btn",
        "options": [
          { "value": "btn", "label": "Solid button"},
          { "value": "btn--soft", "label": "Soft button"},
          { "value": "btn--outline", "label": "Outlined button"}
        ]
      },
      {
        "type": "select",
        "id": "button_color",
        "label": "Color",
        "default": "btn--neutral",
        "options": [
          { "value": "btn--primary", "label": "Primary accent" },
          { "value": "btn--secondary", "label": "Secondary accent" },
          { "value": "btn--neutral", "label": "Text color" },
          { "value": "btn--black", "label": "Black" },
          { "value": "btn--white", "label": "White" }
        ]
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "select",
        "id": "color_bg",
        "label": "Background color",
        "default": "palette--light bg--neutral",
        "options": [
          { "value": "palette--light bg--neutral", "label": "Default"},
          { "value": "palette--light bg--accent", "label": "Light"},
          { "value": "palette--dark bg--invert", "label": "Dark"},
          { "value": "palette--dark bg--invert--accent", "label": "Dark accent"}
        ]
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper",
        "options": [
          { "value": "wrapper--full", "label": "Full width padded" },
          { "value": "wrapper", "label": "Page width" },
          { "value": "wrapper--narrow", "label": "Page width narrow" }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 180,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 180,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Feature AdBlocking",
        "category": "Deeper Section"
      } 
    ]
  }
{% endschema %}
